.error {
    border-bottom: solid 1px #ff3860 !important;
}
.success{
    border-bottom: solid 1px #09c372 !important;
}
.err-coment{
    font-size: 11px;
    font-weight: 800;
    height: 15px;
}
.hero-img{
   width: 530px;
   margin: auto;
   position: absolute;
   top: 1rem;
}
.bg-color {
    background: #00000054;
    height: 100%;
}
.img-size {
    width: 500px;
}